#### This notebook is about the Transformation to be done on DFs

In [1]:
import pyspark
from pyspark.sql import SparkSession
from pyspark import SparkConf, SparkContext

In [2]:
employees = [
    (1, "Scott", "Tiger", 1000.0, 
      "united states", "+1 123 456 7890", "123 45 6789"
    ),
     (2, "Henry", "Ford", 1250.0, 
      "India", "+91 234 567 8901", "456 78 9123"
     ),
     (3, "Nick", "Junior", 750.0, 
      "united KINGDOM", "+44 111 111 1111", "222 33 4444"
     ),
     (4, "Bill", "Gomes", 1500.0, 
      "AUSTRALIA", "+61 987 654 3210", "789 12 6118"
     )
]

In [3]:
productPath = "/home/solverbot/spark-warehouse/retail_db/products/part-00000"
orderitemPath = "/home/solverbot/spark-warehouse/retail_db/order_items/part-00000"
ordersPath = "/home/solverbot/spark-warehouse/retail_db/orders/part-00000.txt"

In [4]:
#What is the difference between Session and Context?
#SC is part of the Spark session that is established above
spark = SparkSession.builder.appName('DF Tranformations').getOrCreate()

22/11/22 04:41:09 WARN Utils: Your hostname, codeStation resolves to a loopback address: 127.0.1.1; using 172.17.0.1 instead (on interface docker0)
22/11/22 04:41:09 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

22/11/22 04:41:11 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [6]:
sc = spark.sparkContext
sc

In [7]:
employeesDF = spark. \
    createDataFrame(employees,
                    schema="""employee_id INT, first_name STRING, 
                    last_name STRING, salary FLOAT, nationality STRING,
                    phone_number STRING, ssn STRING"""
                   )

In [8]:
from pyspark.sql.functions import *

In [9]:
employeesDF. \
    groupBy(upper(col("nationality")).alias('upper_nationality')). \
    count(). \
    show()

+-----------------+-----+
|upper_nationality|count|
+-----------------+-----+
|    UNITED STATES|    1|
|            INDIA|    1|
|   UNITED KINGDOM|    1|
|        AUSTRALIA|    1|
+-----------------+-----+

In [10]:
orderItemDF = spark.read.csv("/home/solverbot/spark-warehouse/retail_db/order_items/",inferSchema=True).toDF("order_item_id","order_item_order_id","product_id", "qty","product_cost","order_subtotal")

In [11]:
orderDF = spark.read.csv("/home/solverbot/spark-warehouse/retail_db/orders",inferSchema=True) \
            .toDF("order_id","order_date","order_customer_id","order_status")

In [27]:
orderDF.show(2)

+--------+-------------------+-----------------+---------------+
|order_id|         order_date|order_customer_id|   order_status|
+--------+-------------------+-----------------+---------------+
|       1|2013-07-25 00:00:00|            11599|         CLOSED|
|       2|2013-07-25 00:00:00|              256|PENDING_PAYMENT|
+--------+-------------------+-----------------+---------------+
only showing top 2 rows

In [26]:
orderItemDF.show(2)

+-------------+-------------------+----------+---+------------+--------------+
|order_item_id|order_item_order_id|product_id|qty|product_cost|order_subtotal|
+-------------+-------------------+----------+---+------------+--------------+
|            1|                  1|       957|  1|      299.98|        299.98|
|            2|                  2|      1073|  1|      199.99|        199.99|
+-------------+-------------------+----------+---+------------+--------------+
only showing top 2 rows

In [28]:
#Note, even the numbers are read as strings when the DF is created
orderDF.printSchema()

root
 |-- order_id: integer (nullable = true)
 |-- order_date: timestamp (nullable = true)
 |-- order_customer_id: integer (nullable = true)
 |-- order_status: string (nullable = true)

In [29]:
orderItemDF.printSchema()

root
 |-- order_item_id: integer (nullable = true)
 |-- order_item_order_id: integer (nullable = true)
 |-- product_id: integer (nullable = true)
 |-- qty: integer (nullable = true)
 |-- product_cost: double (nullable = true)
 |-- order_subtotal: double (nullable = true)

In [13]:
help(orderDF.filter)

Help on method filter in module pyspark.sql.dataframe:

filter(condition: 'ColumnOrName') -> 'DataFrame' method of pyspark.sql.dataframe.DataFrame instance
    Filters rows using the given condition.

    :func:`where` is an alias for :func:`filter`.

    .. versionadded:: 1.3.0

    Parameters
    ----------
    condition : :class:`Column` or str
        a :class:`Column` of :class:`types.BooleanType`
        or a string of SQL expression.

    Examples
    --------
    >>> df.filter(df.age > 3).collect()
    [Row(age=5, name='Bob')]
    >>> df.where(df.age == 2).collect()
    [Row(age=2, name='Alice')]

    >>> df.filter("age > 3").collect()
    [Row(age=5, name='Bob')]
    >>> df.where("age = 2").collect()
    [Row(age=2, name='Alice')]

In [20]:
filterOrder = orderDF.filter(orderDF.order_status != "COMPLETE")
filterOrder.show(2)

+--------+-------------------+-----------------+---------------+
|order_id|         order_date|order_customer_id|   order_status|
+--------+-------------------+-----------------+---------------+
|       1|2013-07-25 00:00:00|            11599|         CLOSED|
|       2|2013-07-25 00:00:00|              256|PENDING_PAYMENT|
+--------+-------------------+-----------------+---------------+
only showing top 2 rows

In [81]:
orderDF.where('order_status IN ("COMPLETE","CLOSED")').show(2)

+--------+-------------------+-----------------+------------+
|order_id|         order_date|order_customer_id|order_status|
+--------+-------------------+-----------------+------------+
|       1|2013-07-25 00:00:00|            11599|      CLOSED|
|       3|2013-07-25 00:00:00|            12111|    COMPLETE|
+--------+-------------------+-----------------+------------+
only showing top 2 rows

In [86]:
orderDF.selectExpr('order_status ="COMPLETE"').alias('filtered').show(2)

+-------------------------+
|(order_status = COMPLETE)|
+-------------------------+
|                    false|
|                    false|
+-------------------------+
only showing top 2 rows

In [88]:
help(orderDF.order_status)

Help on Column in module pyspark.sql.column object:

class Column(builtins.object)
 |  Column(jc: py4j.java_gateway.JavaObject) -> None
 |
 |  A column in a DataFrame.
 |
 |  :class:`Column` instances can be created by::
 |
 |      # 1. Select a column out of a DataFrame
 |
 |      df.colName
 |      df["colName"]
 |
 |      # 2. Create from an expression
 |      df.colName + 1
 |      1 / df.colName
 |
 |  .. versionadded:: 1.3.0
 |
 |  Methods defined here:
 |
 |  __add__ = _(self: 'Column', other: Union[ForwardRef('Column'), ForwardRef('LiteralType'), ForwardRef('DecimalLiteral'), ForwardRef('DateTimeLiteral')]) -> 'Column'
 |      binary operator
 |
 |  __and__ = _(self: 'Column', other: Union[ForwardRef('Column'), ForwardRef('LiteralType'), ForwardRef('DecimalLiteral'), ForwardRef('DateTimeLiteral')]) -> 'Column'
 |      binary operator
 |
 |  __bool__ = __nonzero__(self) -> None
 |
 |  __contains__(self, item: Any) -> None
 |      # container operators
 |
 |  __div__ = _(self: 'Column', other: Union[ForwardRef('Column'), ForwardRef('LiteralType'), ForwardRef('DecimalLiteral'), ForwardRef('DateTimeLiteral')]) -> 'Column'
 |      binary operator
 |
 |  __eq__(self, other: Union[ForwardRef('Column'), ForwardRef('LiteralType'), ForwardRef('DecimalLiteral'), ForwardRef('DateTimeLiteral')]) -> 'Column'
 |      binary function
 |
 |  __ge__ = _(self: 'Column', other: Union[ForwardRef('Column'), ForwardRef('LiteralType'), ForwardRef('DecimalLiteral'), ForwardRef('DateTimeLiteral')]) -> 'Column'
 |      binary operator
 |
 |  __getattr__(self, item: Any) -> 'Column'
 |
 |  __getitem__(self, k: Any) -> 'Column'
 |
 |  __gt__ = _(self: 'Column', other: Union[ForwardRef('Column'), ForwardRef('LiteralType'), ForwardRef('DecimalLiteral'), ForwardRef('DateTimeLiteral')]) -> 'Column'
 |      binary operator
 |
 |  __init__(self, jc: py4j.java_gateway.JavaObject) -> None
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __invert__ = _(self: 'Column') -> 'Column'
 |
 |  __iter__(self) -> None
 |
 |  __le__ = _(self: 'Column', other: Union[ForwardRef('Column'), ForwardRef('LiteralType'), ForwardRef('DecimalLiteral'), ForwardRef('DateTimeLiteral')]) -> 'Column'
 |      binary operator
 |
 |  __lt__ = _(self: 'Column', other: Union[ForwardRef('Column'), ForwardRef('LiteralType'), ForwardRef('DecimalLiteral'), ForwardRef('DateTimeLiteral')]) -> 'Column'
 |      binary operator
 |
 |  __mod__ = _(self: 'Column', other: Union[ForwardRef('Column'), ForwardRef('LiteralType'), ForwardRef('DecimalLiteral'), ForwardRef('DateTimeLiteral')]) -> 'Column'
 |      binary operator
 |
 |  __mul__ = _(self: 'Column', other: Union[ForwardRef('Column'), ForwardRef('LiteralType'), ForwardRef('DecimalLiteral'), ForwardRef('DateTimeLiteral')]) -> 'Column'
 |      binary operator
 |
 |  __ne__(self, other: Any) -> 'Column'
 |      binary function
 |
 |  __neg__ = _(self: 'Column') -> 'Column'
 |
 |  __nonzero__(self) -> None
 |
 |  __or__ = _(self: 'Column', other: Union[ForwardRef('Column'), ForwardRef('LiteralType'), ForwardRef('DecimalLiteral'), ForwardRef('DateTimeLiteral')]) -> 'Column'
 |      binary operator
 |
 |  __pow__ = _(self: 'Column', other: Union[ForwardRef('Column'), ForwardRef('LiteralType'), ForwardRef('DecimalLiteral')]) -> 'Column'
 |      binary function
 |
 |  __radd__ = _(self: 'Column', other: Union[ForwardRef('Column'), ForwardRef('LiteralType'), ForwardRef('DecimalLiteral'), ForwardRef('DateTimeLiteral')]) -> 'Column'
 |      binary operator
 |
 |  __rand__ = _(self: 'Column', other: Union[ForwardRef('Column'), ForwardRef('LiteralType'), ForwardRef('DecimalLiteral'), ForwardRef('DateTimeLiteral')]) -> 'Column'
 |      binary operator
 |
 |  __rdiv__ = _(self: 'Column', other: Union[ForwardRef('LiteralType'), ForwardRef('DecimalLiteral')]) -> 'Column'
 |      binary operator
 |
 |  __repr__(self) -> str
 |      Return repr(self).
 |
 |  __rmod__ = _(self: 'Column', other: Union[ForwardRef('LiteralType'), ForwardRef('DecimalLiteral')]) -> 'Column'
 |      binary operator
 |
 |  __rmul__ = _(self: 'Column', other: Union[ForwardRef('Column'), ForwardRef('LiteralType'), ForwardRef('DecimalLiteral'), ForwardRef('DateTimeLiteral')]) -> 'Column'
 |      binary operator
 |
 |  __ror__ = _(self: 'Column', other: Union[ForwardRef('Column'), ForwardRef('LiteralType'), ForwardRef('DecimalLiteral'), ForwardRef('DateTimeLiteral')]) -> 'Column'
 |      binary operator
 |
 |  __rpow__ = _(self: 'Column', other: Union[ForwardRef('Column'), ForwardRef('LiteralType'), ForwardRef('DecimalLiteral')]) -> 'Column'
 |      binary function
 |
 |  __rsub__ = _(self: 'Column', other: Union[ForwardRef('LiteralType'), ForwardRef('DecimalLiteral')]) -> 'Column'
 |      binary operator
 |
 |  __rtruediv__ = _(self: 'Column', other: Union[ForwardRef('LiteralType'), ForwardRef('DecimalLiteral')]) -> 'Column'
 |      binary operator
 |
 |  __sub__ = _(self: 'Column', other: Union[ForwardRef('Column'), ForwardRef('LiteralType'), ForwardRef('DecimalLiteral'), ForwardRef('DateTimeLiteral')]) -> 'Column'
 |      binary operator
 |
 |  __truediv__ = _(self: 'Column', other: Union[ForwardRef('Column'), ForwardRef('LiteralType'), ForwardRef('DecimalLiteral'), ForwardRef('DateTimeLiteral')]) -> 'Column'
 |      binary operator
 |
 |  alias(self, *alias: str, **kwargs: Any) -> 'Column'
 |      Returns this column aliased with a new name or names (in the case of expressions that
 |      return more than one column, such as explode).
 |
 |      .. versionadded:: 1.3.0
 |
 |      Parameters
 |      ----------
 |      alias : str
 |          desired column names (collects all positional arguments passed)
 |
 |      Other Parameters
 |      ----------------
 |      metadata: dict
 |          a dict of information to be stored in ``metadata`` attribute of the
 |          corresponding :class:`StructField <pyspark.sql.types.StructField>` (optional, keyword
 |          only argument)
 |
 |          .. versionchanged:: 2.2.0
 |             Added optional ``metadata`` argument.
 |
 |      Examples
 |      --------
 |      >>> df.select(df.age.alias("age2")).collect()
 |      [Row(age2=2), Row(age2=5)]
 |      >>> df.select(df.age.alias("age3", metadata={'max': 99})).schema['age3'].metadata['max']
 |      99
 |
 |  asc = _(self: 'Column') -> 'Column'
 |      Returns a sort expression based on ascending order of the column.
 |
 |      Examples
 |      --------
 |      >>> from pyspark.sql import Row
 |      >>> df = spark.createDataFrame([('Tom', 80), ('Alice', None)], ["name", "height"])
 |      >>> df.select(df.name).orderBy(df.name.asc()).collect()
 |      [Row(name='Alice'), Row(name='Tom')]
 |
 |  asc_nulls_first = _(self: 'Column') -> 'Column'
 |      Returns a sort expression based on ascending order of the column, and null values
 |      return before non-null values.
 |
 |      .. versionadded:: 2.4.0
 |
 |      Examples
 |      --------
 |      >>> from pyspark.sql import Row
 |      >>> df = spark.createDataFrame([('Tom', 80), (None, 60), ('Alice', None)], ["name", "height"])
 |      >>> df.select(df.name).orderBy(df.name.asc_nulls_first()).collect()
 |      [Row(name=None), Row(name='Alice'), Row(name='Tom')]
 |
 |  asc_nulls_last = _(self: 'Column') -> 'Column'
 |      Returns a sort expression based on ascending order of the column, and null values
 |      appear after non-null values.
 |
 |      .. versionadded:: 2.4.0
 |
 |      Examples
 |      --------
 |      >>> from pyspark.sql import Row
 |      >>> df = spark.createDataFrame([('Tom', 80), (None, 60), ('Alice', None)], ["name", "height"])
 |      >>> df.select(df.name).orderBy(df.name.asc_nulls_last()).collect()
 |      [Row(name='Alice'), Row(name='Tom'), Row(name=None)]
 |
 |  astype = cast(self, dataType)
 |      :func:`astype` is an alias for :func:`cast`.
 |
 |      .. versionadded:: 1.4
 |
 |  between(self, lowerBound: Union[ForwardRef('Column'), ForwardRef('LiteralType'), ForwardRef('DateTimeLiteral'), ForwardRef('DecimalLiteral')], upperBound: Union[ForwardRef('Column'), ForwardRef('LiteralType'), ForwardRef('DateTimeLiteral'), ForwardRef('DecimalLiteral')]) -> 'Column'
 |      True if the current column is between the lower bound and upper bound, inclusive.
 |
 |      .. versionadded:: 1.3.0
 |
 |      Examples
 |      --------
 |      >>> df.select(df.name, df.age.between(2, 4)).show()
 |      +-----+---------------------------+
 |      | name|((age >= 2) AND (age <= 4))|
 |      +-----+---------------------------+
 |      |Alice|                       true|
 |      |  Bob|                      false|
 |      +-----+---------------------------+
 |
 |  bitwiseAND = _(self: 'Column', other: Union[ForwardRef('Column'), ForwardRef('LiteralType'), ForwardRef('DecimalLiteral'), ForwardRef('DateTimeLiteral')]) -> 'Column'
 |      Compute bitwise AND of this expression with another expression.
 |
 |      Parameters
 |      ----------
 |      other
 |          a value or :class:`Column` to calculate bitwise and(&) with
 |          this :class:`Column`.
 |
 |      Examples
 |      --------
 |      >>> from pyspark.sql import Row
 |      >>> df = spark.createDataFrame([Row(a=170, b=75)])
 |      >>> df.select(df.a.bitwiseAND(df.b)).collect()
 |      [Row((a & b)=10)]
 |
 |  bitwiseOR = _(self: 'Column', other: Union[ForwardRef('Column'), ForwardRef('LiteralType'), ForwardRef('DecimalLiteral'), ForwardRef('DateTimeLiteral')]) -> 'Column'
 |      Compute bitwise OR of this expression with another expression.
 |
 |      Parameters
 |      ----------
 |      other
 |          a value or :class:`Column` to calculate bitwise or(|) with
 |          this :class:`Column`.
 |
 |      Examples
 |      --------
 |      >>> from pyspark.sql import Row
 |      >>> df = spark.createDataFrame([Row(a=170, b=75)])
 |      >>> df.select(df.a.bitwiseOR(df.b)).collect()
 |      [Row((a | b)=235)]
 |
 |  bitwiseXOR = _(self: 'Column', other: Union[ForwardRef('Column'), ForwardRef('LiteralType'), ForwardRef('DecimalLiteral'), ForwardRef('DateTimeLiteral')]) -> 'Column'
 |      Compute bitwise XOR of this expression with another expression.
 |
 |      Parameters
 |      ----------
 |      other
 |          a value or :class:`Column` to calculate bitwise xor(^) with
 |          this :class:`Column`.
 |
 |      Examples
 |      --------
 |      >>> from pyspark.sql import Row
 |      >>> df = spark.createDataFrame([Row(a=170, b=75)])
 |      >>> df.select(df.a.bitwiseXOR(df.b)).collect()
 |      [Row((a ^ b)=225)]
 |
 |  cast(self, dataType: Union[pyspark.sql.types.DataType, str]) -> 'Column'
 |      Casts the column into type ``dataType``.
 |
 |      .. versionadded:: 1.3.0
 |
 |      Examples
 |      --------
 |      >>> df.select(df.age.cast("string").alias('ages')).collect()
 |      [Row(ages='2'), Row(ages='5')]
 |      >>> df.select(df.age.cast(StringType()).alias('ages')).collect()
 |      [Row(ages='2'), Row(ages='5')]
 |
 |  contains = _(self: 'Column', other: Union[ForwardRef('Column'), ForwardRef('LiteralType'), ForwardRef('DecimalLiteral'), ForwardRef('DateTimeLiteral')]) -> 'Column'
 |      Contains the other element. Returns a boolean :class:`Column` based on a string match.
 |
 |      Parameters
 |      ----------
 |      other
 |          string in line. A value as a literal or a :class:`Column`.
 |
 |      Examples
 |      --------
 |      >>> df.filter(df.name.contains('o')).collect()
 |      [Row(age=5, name='Bob')]
 |
 |  desc = _(self: 'Column') -> 'Column'
 |      Returns a sort expression based on the descending order of the column.
 |
 |      .. versionadded:: 2.4.0
 |
 |      Examples
 |      --------
 |      >>> from pyspark.sql import Row
 |      >>> df = spark.createDataFrame([('Tom', 80), ('Alice', None)], ["name", "height"])
 |      >>> df.select(df.name).orderBy(df.name.desc()).collect()
 |      [Row(name='Tom'), Row(name='Alice')]
 |
 |  desc_nulls_first = _(self: 'Column') -> 'Column'
 |      Returns a sort expression based on the descending order of the column, and null values
 |      appear before non-null values.
 |
 |      .. versionadded:: 2.4.0
 |
 |      Examples
 |      --------
 |      >>> from pyspark.sql import Row
 |      >>> df = spark.createDataFrame([('Tom', 80), (None, 60), ('Alice', None)], ["name", "height"])
 |      >>> df.select(df.name).orderBy(df.name.desc_nulls_first()).collect()
 |      [Row(name=None), Row(name='Tom'), Row(name='Alice')]
 |
 |  desc_nulls_last = _(self: 'Column') -> 'Column'
 |      Returns a sort expression based on the descending order of the column, and null values
 |      appear after non-null values.
 |
 |      .. versionadded:: 2.4.0
 |
 |      Examples
 |      --------
 |      >>> from pyspark.sql import Row
 |      >>> df = spark.createDataFrame([('Tom', 80), (None, 60), ('Alice', None)], ["name", "height"])
 |      >>> df.select(df.name).orderBy(df.name.desc_nulls_last()).collect()
 |      [Row(name='Tom'), Row(name='Alice'), Row(name=None)]
 |
 |  dropFields(self, *fieldNames: str) -> 'Column'
 |      An expression that drops fields in :class:`StructType` by name.
 |      This is a no-op if schema doesn't contain field name(s).
 |
 |      .. versionadded:: 3.1.0
 |
 |      Examples
 |      --------
 |      >>> from pyspark.sql import Row
 |      >>> from pyspark.sql.functions import col, lit
 |      >>> df = spark.createDataFrame([
 |      ...     Row(a=Row(b=1, c=2, d=3, e=Row(f=4, g=5, h=6)))])
 |      >>> df.withColumn('a', df['a'].dropFields('b')).show()
 |      +-----------------+
 |      |                a|
 |      +-----------------+
 |      |{2, 3, {4, 5, 6}}|
 |      +-----------------+
 |
 |      >>> df.withColumn('a', df['a'].dropFields('b', 'c')).show()
 |      +--------------+
 |      |             a|
 |      +--------------+
 |      |{3, {4, 5, 6}}|
 |      +--------------+
 |
 |      This method supports dropping multiple nested fields directly e.g.
 |
 |      >>> df.withColumn("a", col("a").dropFields("e.g", "e.h")).show()
 |      +--------------+
 |      |             a|
 |      +--------------+
 |      |{1, 2, 3, {4}}|
 |      +--------------+
 |
 |      However, if you are going to add/replace multiple nested fields,
 |      it is preferred to extract out the nested struct before
 |      adding/replacing multiple fields e.g.
 |
 |      >>> df.select(col("a").withField(
 |      ...     "e", col("a.e").dropFields("g", "h")).alias("a")
 |      ... ).show()
 |      +--------------+
 |      |             a|
 |      +--------------+
 |      |{1, 2, 3, {4}}|
 |      +--------------+
 |
 |  endswith = _(self: 'Column', other: Union[ForwardRef('Column'), ForwardRef('LiteralType'), ForwardRef('DecimalLiteral'), ForwardRef('DateTimeLiteral')]) -> 'Column'
 |      String ends with. Returns a boolean :class:`Column` based on a string match.
 |
 |      Parameters
 |      ----------
 |      other : :class:`Column` or str
 |          string at end of line (do not use a regex `$`)
 |
 |      Examples
 |      --------
 |      >>> df.filter(df.name.endswith('ice')).collect()
 |      [Row(age=2, name='Alice')]
 |      >>> df.filter(df.name.endswith('ice$')).collect()
 |      []
 |
 |  eqNullSafe = _(self: 'Column', other: Union[ForwardRef('Column'), ForwardRef('LiteralType'), ForwardRef('DecimalLiteral'), ForwardRef('DateTimeLiteral')]) -> 'Column'
 |      Equality test that is safe for null values.
 |
 |      .. versionadded:: 2.3.0
 |
 |      Parameters
 |      ----------
 |      other
 |          a value or :class:`Column`
 |
 |      Examples
 |      --------
 |      >>> from pyspark.sql import Row
 |      >>> df1 = spark.createDataFrame([
 |      ...     Row(id=1, value='foo'),
 |      ...     Row(id=2, value=None)
 |      ... ])
 |      >>> df1.select(
 |      ...     df1['value'] == 'foo',
 |      ...     df1['value'].eqNullSafe('foo'),
 |      ...     df1['value'].eqNullSafe(None)
 |      ... ).show()
 |      +-------------+---------------+----------------+
 |      |(value = foo)|(value <=> foo)|(value <=> NULL)|
 |      +-------------+---------------+----------------+
 |      |         true|           true|           false|
 |      |         null|          false|            true|
 |      +-------------+---------------+----------------+
 |      >>> df2 = spark.createDataFrame([
 |      ...     Row(value = 'bar'),
 |      ...     Row(value = None)
 |      ... ])
 |      >>> df1.join(df2, df1["value"] == df2["value"]).count()
 |      0
 |      >>> df1.join(df2, df1["value"].eqNullSafe(df2["value"])).count()
 |      1
 |      >>> df2 = spark.createDataFrame([
 |      ...     Row(id=1, value=float('NaN')),
 |      ...     Row(id=2, value=42.0),
 |      ...     Row(id=3, value=None)
 |      ... ])
 |      >>> df2.select(
 |      ...     df2['value'].eqNullSafe(None),
 |      ...     df2['value'].eqNullSafe(float('NaN')),
 |      ...     df2['value'].eqNullSafe(42.0)
 |      ... ).show()
 |      +----------------+---------------+----------------+
 |      |(value <=> NULL)|(value <=> NaN)|(value <=> 42.0)|
 |      +----------------+---------------+----------------+
 |      |           false|           true|           false|
 |      |           false|          false|            true|
 |      |            true|          false|           false|
 |      +----------------+---------------+----------------+
 |
 |      Notes
 |      -----
 |      Unlike Pandas, PySpark doesn't consider NaN values to be NULL. See the
 |      `NaN Semantics <https://spark.apache.org/docs/latest/sql-ref-datatypes.html#nan-semantics>`_
 |      for details.
 |
 |  getField(self, name: Any) -> 'Column'
 |      An expression that gets a field by name in a :class:`StructType`.
 |
 |      .. versionadded:: 1.3.0
 |
 |      Examples
 |      --------
 |      >>> from pyspark.sql import Row
 |      >>> df = spark.createDataFrame([Row(r=Row(a=1, b="b"))])
 |      >>> df.select(df.r.getField("b")).show()
 |      +---+
 |      |r.b|
 |      +---+
 |      |  b|
 |      +---+
 |      >>> df.select(df.r.a).show()
 |      +---+
 |      |r.a|
 |      +---+
 |      |  1|
 |      +---+
 |
 |  getItem(self, key: Any) -> 'Column'
 |      An expression that gets an item at position ``ordinal`` out of a list,
 |      or gets an item by key out of a dict.
 |
 |      .. versionadded:: 1.3.0
 |
 |      Examples
 |      --------
 |      >>> df = spark.createDataFrame([([1, 2], {"key": "value"})], ["l", "d"])
 |      >>> df.select(df.l.getItem(0), df.d.getItem("key")).show()
 |      +----+------+
 |      |l[0]|d[key]|
 |      +----+------+
 |      |   1| value|
 |      +----+------+
 |
 |  ilike = _(self: 'Column', other: Union[ForwardRef('Column'), ForwardRef('LiteralType'), ForwardRef('DecimalLiteral'), ForwardRef('DateTimeLiteral')]) -> 'Column'
 |      SQL ILIKE expression (case insensitive LIKE). Returns a boolean :class:`Column`
 |      based on a case insensitive match.
 |
 |      .. versionadded:: 3.3.0
 |
 |      Parameters
 |      ----------
 |      other : str
 |          a SQL LIKE pattern
 |
 |      See Also
 |      --------
 |      pyspark.sql.Column.rlike
 |
 |      Examples
 |      --------
 |      >>> df.filter(df.name.ilike('%Ice')).collect()
 |      [Row(age=2, name='Alice')]
 |
 |  isNotNull = _(self: 'Column') -> 'Column'
 |      True if the current expression is NOT null.
 |
 |      Examples
 |      --------
 |      >>> from pyspark.sql import Row
 |      >>> df = spark.createDataFrame([Row(name='Tom', height=80), Row(name='Alice', height=None)])
 |      >>> df.filter(df.height.isNotNull()).collect()
 |      [Row(name='Tom', height=80)]
 |
 |  isNull = _(self: 'Column') -> 'Column'
 |      True if the current expression is null.
 |
 |      Examples
 |      --------
 |      >>> from pyspark.sql import Row
 |      >>> df = spark.createDataFrame([Row(name='Tom', height=80), Row(name='Alice', height=None)])
 |      >>> df.filter(df.height.isNull()).collect()
 |      [Row(name='Alice', height=None)]
 |
 |  isin(self, *cols: Any) -> 'Column'

In [87]:
orderDF.where((orderDF.order_status == 'COMPLETE').__or__(orderDF.order_status=='CLOSED')).show(2)

+--------+-------------------+-----------------+------------+
|order_id|         order_date|order_customer_id|order_status|
+--------+-------------------+-----------------+------------+
|       1|2013-07-25 00:00:00|            11599|      CLOSED|
|       3|2013-07-25 00:00:00|            12111|    COMPLETE|
+--------+-------------------+-----------------+------------+
only showing top 2 rows

In [17]:
#There is dateformat which needs to be understood
orderDF.where((orderDF.order_status == 'COMPLETE').__and__(orderDF.order_date.startswith('2013-12'))).show(2)

+--------+-------------------+-----------------+------------+
|order_id|         order_date|order_customer_id|order_status|
+--------+-------------------+-----------------+------------+
|   20919|2013-12-01 00:00:00|              383|    COMPLETE|
|   20922|2013-12-01 00:00:00|             9720|    COMPLETE|
+--------+-------------------+-----------------+------------+
only showing top 2 rows

In [21]:
orderDF.where((orderDF.order_status=='COMPLETE').__and__(orderDF.order_date.like("2014-01%"))).show(2)

+--------+-------------------+-----------------+------------+
|order_id|         order_date|order_customer_id|order_status|
+--------+-------------------+-----------------+------------+
|   25882|2014-01-01 00:00:00|             4598|    COMPLETE|
|   25888|2014-01-01 00:00:00|             6735|    COMPLETE|
+--------+-------------------+-----------------+------------+
only showing top 2 rows

In [31]:
orderItemDF.where(orderItemDF.order_subtotal != orderItemDF.qty * orderItemDF.product_cost).show(2)

+-------------+-------------------+----------+---+------------+--------------+
|order_item_id|order_item_order_id|product_id|qty|product_cost|order_subtotal|
+-------------+-------------------+----------+---+------------+--------------+
|            3|                  2|       502|  5|       250.0|          50.0|
|            5|                  4|       897|  2|       49.98|         24.99|
+-------------+-------------------+----------+---+------------+--------------+
only showing top 2 rows

In [33]:
orderItemDF.filter(orderItemDF.order_subtotal != orderItemDF.qty * orderItemDF.product_cost).show(2)

+-------------+-------------------+----------+---+------------+--------------+
|order_item_id|order_item_order_id|product_id|qty|product_cost|order_subtotal|
+-------------+-------------------+----------+---+------------+--------------+
|            3|                  2|       502|  5|       250.0|          50.0|
|            5|                  4|       897|  2|       49.98|         24.99|
+-------------+-------------------+----------+---+------------+--------------+
only showing top 2 rows

In [15]:
orderDF.selectExpr("CASE WHEN order_status IN ('COMPLETE','CLOSED') THEN 'COMPLETED' ELSE 'PENDING' END").show(2)

+------------------------------------------------------------------------------+
|CASE WHEN (order_status IN (COMPLETE, CLOSED)) THEN COMPLETED ELSE PENDING END|
+------------------------------------------------------------------------------+
|                                                                     COMPLETED|
|                                                                       PENDING|
+------------------------------------------------------------------------------+
only showing top 2 rows

In [21]:
help(orderDF.join)

Help on method join in module pyspark.sql.dataframe:

join(other: 'DataFrame', on: Union[str, List[str], pyspark.sql.column.Column, List[pyspark.sql.column.Column], NoneType] = None, how: Optional[str] = None) -> 'DataFrame' method of pyspark.sql.dataframe.DataFrame instance
    Joins with another :class:`DataFrame`, using the given join expression.

    .. versionadded:: 1.3.0

    Parameters
    ----------
    other : :class:`DataFrame`
        Right side of the join
    on : str, list or :class:`Column`, optional
        a string for the join column name, a list of column names,
        a join expression (Column), or a list of Columns.
        If `on` is a string or a list of strings indicating the name of the join column(s),
        the column(s) must exist on both sides, and this performs an equi-join.
    how : str, optional
        default ``inner``. Must be one of: ``inner``, ``cross``, ``outer``,
        ``full``, ``fullouter``, ``full_outer``, ``left``, ``leftouter``, ``left_outer``,
        ``right``, ``rightouter``, ``right_outer``, ``semi``, ``leftsemi``, ``left_semi``,
        ``anti``, ``leftanti`` and ``left_anti``.

    Examples
    --------
    The following performs a full outer join between ``df1`` and ``df2``.

    >>> from pyspark.sql.functions import desc
    >>> df.join(df2, df.name == df2.name, 'outer').select(df.name, df2.height)                 .sort(desc("name")).collect()
    [Row(name='Bob', height=85), Row(name='Alice', height=None), Row(name=None, height=80)]

    >>> df.join(df2, 'name', 'outer').select('name', 'height').sort(desc("name")).collect()
    [Row(name='Tom', height=80), Row(name='Bob', height=85), Row(name='Alice', height=None)]

    >>> cond = [df.name == df3.name, df.age == df3.age]
    >>> df.join(df3, cond, 'outer').select(df.name, df3.age).collect()
    [Row(name='Alice', age=2), Row(name='Bob', age=5)]

    >>> df.join(df2, 'name').select(df.name, df2.height).collect()
    [Row(name='Bob', height=85)]

    >>> df.join(df4, ['name', 'age']).select(df.name, df.age).collect()
    [Row(name='Bob', age=5)]

In [12]:
orderJoined = orderDF.join(orderItemDF, orderDF.order_id == orderItemDF.order_item_id, 'outer')

In [13]:
orderJoined.take(2)

[Row(order_id=1, order_date=datetime.datetime(2013, 7, 25, 0, 0), order_customer_id=11599, order_status='CLOSED', order_item_id=1, order_item_order_id=1, product_id=957, qty=1, product_cost=299.98, order_subtotal=299.98),
 Row(order_id=1, order_date=datetime.datetime(2013, 7, 25, 0, 0), order_customer_id=11599, order_status='CLOSED', order_item_id=1, order_item_order_id=1, product_id=957, qty=1, product_cost=299.98, order_subtotal=299.98)]

In [27]:
help(orderDF.groupBy)

Help on method groupBy in module pyspark.sql.dataframe:

groupBy(*cols: 'ColumnOrName') -> 'GroupedData' method of pyspark.sql.dataframe.DataFrame instance
    Groups the :class:`DataFrame` using the specified columns,
    so we can run aggregation on them. See :class:`GroupedData`
    for all the available aggregate functions.

    :func:`groupby` is an alias for :func:`groupBy`.

    .. versionadded:: 1.3.0

    Parameters
    ----------
    cols : list, str or :class:`Column`
        columns to group by.
        Each element should be a column name (string) or an expression (:class:`Column`).

    Examples
    --------
    >>> df.groupBy().avg().collect()
    [Row(avg(age)=3.5)]
    >>> sorted(df.groupBy('name').agg({'age': 'mean'}).collect())
    [Row(name='Alice', avg(age)=2.0), Row(name='Bob', avg(age)=5.0)]
    >>> sorted(df.groupBy(df.name).avg().collect())
    [Row(name='Alice', avg(age)=2.0), Row(name='Bob', avg(age)=5.0)]
    >>> sorted(df.groupBy(['name', df.age]).count().collect())
    [Row(name='Alice', age=2, count=1), Row(name='Bob', age=5, count=1)]

In [58]:
orderJoinedGroup= orderJoined.groupBy('order_id').agg(sum(col("order_subtotal")).alias('order_total'))

In [59]:
orderJoinedGroup.show(2)

+--------+-----------+
|order_id|order_total|
+--------+-----------+
|     148|      99.99|
|     463|     399.98|
+--------+-----------+
only showing top 2 rows

In [35]:
help(orderJoinedGroup.sort)

Help on method sort in module pyspark.sql.dataframe:

sort(*cols: Union[str, pyspark.sql.column.Column, List[Union[str, pyspark.sql.column.Column]]], **kwargs: Any) -> 'DataFrame' method of pyspark.sql.dataframe.DataFrame instance
    Returns a new :class:`DataFrame` sorted by the specified column(s).

    .. versionadded:: 1.3.0

    Parameters
    ----------
    cols : str, list, or :class:`Column`, optional
         list of :class:`Column` or column names to sort by.

    Other Parameters
    ----------------
    ascending : bool or list, optional
        boolean or list of boolean (default ``True``).
        Sort ascending vs. descending. Specify list for multiple sort orders.
        If a list is specified, length of the list must equal length of the `cols`.

    Examples
    --------
    >>> df.sort(df.age.desc()).collect()
    [Row(age=5, name='Bob'), Row(age=2, name='Alice')]
    >>> df.sort("age", ascending=False).collect()
    [Row(age=5, name='Bob'), Row(age=2, name='Alice')]
    >>> df.orderBy(df.age.desc()).collect()
    [Row(age=5, name='Bob'), Row(age=2, name='Alice')]
    >>> from pyspark.sql.functions import *
    >>> df.sort(asc("age")).collect()
    [Row(age=2, name='Alice'), Row(age=5, name='Bob')]
    >>> df.orderBy(desc("age"), "name").collect()
    [Row(age=5, name='Bob'), Row(age=2, name='Alice')]
    >>> df.orderBy(["age", "name"], ascending=[0, 1]).collect()
    [Row(age=5, name='Bob'), Row(age=2, name='Alice')]

In [61]:
orderJoinedGroup.sort(col("order_total").desc()).dropna().show(20)

+--------+-----------+
|order_id|order_total|
+--------+-----------+
|       1|     599.96|
|       9|     599.96|
|   18498|     399.98|
|   26623|     399.98|
|   26708|     399.98|
|   27760|     399.98|
|   38723|     399.98|
|   30361|     399.98|
|    1645|     399.98|
|   30970|     399.98|
|    3749|     399.98|
|   29719|     399.98|
|    6336|     399.98|
|   10206|     399.98|
|   30654|     399.98|
|   13840|     399.98|
|     463|     399.98|
|   31912|     399.98|
|    1829|     399.98|
|   32396|     399.98|
+--------+-----------+
only showing top 20 rows

In [62]:
help(orderDF.select)

Help on method select in module pyspark.sql.dataframe:

select(*cols: 'ColumnOrName') -> 'DataFrame' method of pyspark.sql.dataframe.DataFrame instance
    Projects a set of expressions and returns a new :class:`DataFrame`.

    .. versionadded:: 1.3.0

    Parameters
    ----------
    cols : str, :class:`Column`, or list
        column names (string) or expressions (:class:`Column`).
        If one of the column names is '*', that column is expanded to include all columns
        in the current :class:`DataFrame`.

    Examples
    --------
    >>> df.select('*').collect()
    [Row(age=2, name='Alice'), Row(age=5, name='Bob')]
    >>> df.select('name', 'age').collect()
    [Row(name='Alice', age=2), Row(name='Bob', age=5)]
    >>> df.select(df.name, (df.age + 10).alias('age')).collect()
    [Row(name='Alice', age=12), Row(name='Bob', age=15)]

In [64]:
orderDF.select(col('order_id'),col('order_status')).show(2)

+--------+---------------+
|order_id|   order_status|
+--------+---------------+
|       1|         CLOSED|
|       2|PENDING_PAYMENT|
+--------+---------------+
only showing top 2 rows

In [65]:
orderDF.select('order_id','order_status').show(2)

+--------+---------------+
|order_id|   order_status|
+--------+---------------+
|       1|         CLOSED|
|       2|PENDING_PAYMENT|
+--------+---------------+
only showing top 2 rows

In [75]:
orderDF.select(orderDF.order_id, orderDF.order_date).show(2)

+--------+-------------------+
|order_id|         order_date|
+--------+-------------------+
|       1|2013-07-25 00:00:00|
|       2|2013-07-25 00:00:00|
+--------+-------------------+
only showing top 2 rows

In [37]:
orderDF.rdd.getNumPartitions()

2

In [40]:
orderDF.createTempView("sqlView")

In [41]:
#spark sql can work on only views, which are equivalent to the views 
spark.sql("SELECT order_status FROM sqlView").show(2)

+---------------+
|   order_status|
+---------------+
|         CLOSED|
|PENDING_PAYMENT|
+---------------+
only showing top 2 rows

In [44]:
orderDF.cube("order_status").count().show()

+---------------+-----+
|   order_status|count|
+---------------+-----+
|         CLOSED| 7558|
|PENDING_PAYMENT|15033|
|       COMPLETE|22903|
|           null|68893|
|        ON_HOLD| 3798|
|     PROCESSING| 8276|
| PAYMENT_REVIEW|  729|
|        PENDING| 7610|
|SUSPECTED_FRAUD| 1558|
|       CANCELED| 1428|
+---------------+-----+

In [45]:
help(pyspark.sql.functions)

Help on module pyspark.sql.functions in pyspark.sql:

NAME
    pyspark.sql.functions - A collections of builtin functions

FUNCTIONS
    abs(col: 'ColumnOrName') -> pyspark.sql.column.Column
        Computes the absolute value.

        .. versionadded:: 1.3

    acos(col: 'ColumnOrName') -> pyspark.sql.column.Column
        Computes inverse cosine of the input column.

        .. versionadded:: 1.4.0

        Returns
        -------
        :class:`~pyspark.sql.Column`
            inverse cosine of `col`, as if computed by `java.lang.Math.acos()`

    acosh(col: 'ColumnOrName') -> pyspark.sql.column.Column
        Computes inverse hyperbolic cosine of the input column.

        .. versionadded:: 3.1.0

        Returns
        -------
        :class:`~pyspark.sql.Column`

    add_months(start: 'ColumnOrName', months: Union[ForwardRef('ColumnOrName'), int]) -> pyspark.sql.column.Column
        Returns the date that is `months` months after `start`

        .. versionadded:: 1.5.0

        Examples
        --------
        >>> df = spark.createDataFrame([('2015-04-08', 2)], ['dt', 'add'])
        >>> df.select(add_months(df.dt, 1).alias('next_month')).collect()
        [Row(next_month=datetime.date(2015, 5, 8))]
        >>> df.select(add_months(df.dt, df.add.cast('integer')).alias('next_month')).collect()
        [Row(next_month=datetime.date(2015, 6, 8))]

    aggregate(col: 'ColumnOrName', initialValue: 'ColumnOrName', merge: Callable[[pyspark.sql.column.Column, pyspark.sql.column.Column], pyspark.sql.column.Column], finish: Optional[Callable[[pyspark.sql.column.Column], pyspark.sql.column.Column]] = None) -> pyspark.sql.column.Column
        Applies a binary operator to an initial state and all elements in the array,
        and reduces this to a single state. The final state is converted into the final result
        by applying a finish function.

        Both functions can use methods of :class:`~pyspark.sql.Column`, functions defined in
        :py:mod:`pyspark.sql.functions` and Scala ``UserDefinedFunctions``.
        Python ``UserDefinedFunctions`` are not supported
        (`SPARK-27052 <https://issues.apache.org/jira/browse/SPARK-27052>`__).

        .. versionadded:: 3.1.0

        Parameters
        ----------
        col : :class:`~pyspark.sql.Column` or str
            name of column or expression
        initialValue : :class:`~pyspark.sql.Column` or str
            initial value. Name of column or expression
        merge : function
            a binary function ``(acc: Column, x: Column) -> Column...`` returning expression
            of the same type as ``zero``
        finish : function
            an optional unary function ``(x: Column) -> Column: ...``
            used to convert accumulated value.

        Returns
        -------
        :class:`~pyspark.sql.Column`

        Examples
        --------
        >>> df = spark.createDataFrame([(1, [20.0, 4.0, 2.0, 6.0, 10.0])], ("id", "values"))
        >>> df.select(aggregate("values", lit(0.0), lambda acc, x: acc + x).alias("sum")).show()
        +----+
        | sum|
        +----+
        |42.0|
        +----+

        >>> def merge(acc, x):
        ...     count = acc.count + 1
        ...     sum = acc.sum + x
        ...     return struct(count.alias("count"), sum.alias("sum"))
        >>> df.select(
        ...     aggregate(
        ...         "values",
        ...         struct(lit(0).alias("count"), lit(0.0).alias("sum")),
        ...         merge,
        ...         lambda acc: acc.sum / acc.count,
        ...     ).alias("mean")
        ... ).show()
        +----+
        |mean|
        +----+
        | 8.4|
        +----+

    approxCountDistinct(col: 'ColumnOrName', rsd: Optional[float] = None) -> pyspark.sql.column.Column
        .. deprecated:: 2.1.0
            Use :func:`approx_count_distinct` instead.

        .. versionadded:: 1.3

    approx_count_distinct(col: 'ColumnOrName', rsd: Optional[float] = None) -> pyspark.sql.column.Column
        Aggregate function: returns a new :class:`~pyspark.sql.Column` for approximate distinct count
        of column `col`.

        .. versionadded:: 2.1.0

        Parameters
        ----------
        col : :class:`~pyspark.sql.Column` or str
        rsd : float, optional
            maximum relative standard deviation allowed (default = 0.05).
            For rsd < 0.01, it is more efficient to use :func:`count_distinct`

        Examples
        --------
        >>> df.agg(approx_count_distinct(df.age).alias('distinct_ages')).collect()
        [Row(distinct_ages=2)]

    array(*cols: Union[ForwardRef('ColumnOrName'), List[ForwardRef('ColumnOrName_')], Tuple[ForwardRef('ColumnOrName_'), ...]]) -> pyspark.sql.column.Column
        Creates a new array column.

        .. versionadded:: 1.4.0

        Parameters
        ----------
        cols : :class:`~pyspark.sql.Column` or str
            column names or :class:`~pyspark.sql.Column`\s that have
            the same data type.

        Examples
        --------
        >>> df.select(array('age', 'age').alias("arr")).collect()
        [Row(arr=[2, 2]), Row(arr=[5, 5])]
        >>> df.select(array([df.age, df.age]).alias("arr")).collect()
        [Row(arr=[2, 2]), Row(arr=[5, 5])]

    array_contains(col: 'ColumnOrName', value: Any) -> pyspark.sql.column.Column
        Collection function: returns null if the array is null, true if the array contains the
        given value, and false otherwise.

        .. versionadded:: 1.5.0

        Parameters
        ----------
        col : :class:`~pyspark.sql.Column` or str
            name of column containing array
        value :
            value or column to check for in array

        Examples
        --------
        >>> df = spark.createDataFrame([(["a", "b", "c"],), ([],)], ['data'])
        >>> df.select(array_contains(df.data, "a")).collect()
        [Row(array_contains(data, a)=True), Row(array_contains(data, a)=False)]
        >>> df.select(array_contains(df.data, lit("a"))).collect()
        [Row(array_contains(data, a)=True), Row(array_contains(data, a)=False)]

    array_distinct(col: 'ColumnOrName') -> pyspark.sql.column.Column
        Collection function: removes duplicate values from the array.

        .. versionadded:: 2.4.0

        Parameters
        ----------
        col : :class:`~pyspark.sql.Column` or str
            name of column or expression

        Examples
        --------
        >>> df = spark.createDataFrame([([1, 2, 3, 2],), ([4, 5, 5, 4],)], ['data'])
        >>> df.select(array_distinct(df.data)).collect()
        [Row(array_distinct(data)=[1, 2, 3]), Row(array_distinct(data)=[4, 5])]

    array_except(col1: 'ColumnOrName', col2: 'ColumnOrName') -> pyspark.sql.column.Column
        Collection function: returns an array of the elements in col1 but not in col2,
        without duplicates.

        .. versionadded:: 2.4.0

        Parameters
        ----------
        col1 : :class:`~pyspark.sql.Column` or str
            name of column containing array
        col2 : :class:`~pyspark.sql.Column` or str
            name of column containing array

        Examples
        --------
        >>> from pyspark.sql import Row
        >>> df = spark.createDataFrame([Row(c1=["b", "a", "c"], c2=["c", "d", "a", "f"])])
        >>> df.select(array_except(df.c1, df.c2)).collect()
        [Row(array_except(c1, c2)=['b'])]

    array_intersect(col1: 'ColumnOrName', col2: 'ColumnOrName') -> pyspark.sql.column.Column
        Collection function: returns an array of the elements in the intersection of col1 and col2,
        without duplicates.

        .. versionadded:: 2.4.0

        Parameters
        ----------
        col1 : :class:`~pyspark.sql.Column` or str
            name of column containing array
        col2 : :class:`~pyspark.sql.Column` or str
            name of column containing array

        Examples
        --------
        >>> from pyspark.sql import Row
        >>> df = spark.createDataFrame([Row(c1=["b", "a", "c"], c2=["c", "d", "a", "f"])])
        >>> df.select(array_intersect(df.c1, df.c2)).collect()
        [Row(array_intersect(c1, c2)=['a', 'c'])]

    array_join(col: 'ColumnOrName', delimiter: str, null_replacement: Optional[str] = None) -> pyspark.sql.column.Column
        Concatenates the elements of `column` using the `delimiter`. Null values are replaced with
        `null_replacement` if set, otherwise they are ignored.

        .. versionadded:: 2.4.0

        Examples
        --------
        >>> df = spark.createDataFrame([(["a", "b", "c"],), (["a", None],)], ['data'])
        >>> df.select(array_join(df.data, ",").alias("joined")).collect()
        [Row(joined='a,b,c'), Row(joined='a')]
        >>> df.select(array_join(df.data, ",", "NULL").alias("joined")).collect()
        [Row(joined='a,b,c'), Row(joined='a,NULL')]

    array_max(col: 'ColumnOrName') -> pyspark.sql.column.Column
        Collection function: returns the maximum value of the array.

        .. versionadded:: 2.4.0

        Parameters
        ----------
        col : :class:`~pyspark.sql.Column` or str
            name of column or expression

        Examples
        --------
        >>> df = spark.createDataFrame([([2, 1, 3],), ([None, 10, -1],)], ['data'])
        >>> df.select(array_max(df.data).alias('max')).collect()
        [Row(max=3), Row(max=10)]

    array_min(col: 'ColumnOrName') -> pyspark.sql.column.Column
        Collection function: returns the minimum value of the array.

        .. versionadded:: 2.4.0

        Parameters
        ----------
        col : :class:`~pyspark.sql.Column` or str
            name of column or expression

        Examples
        --------
        >>> df = spark.createDataFrame([([2, 1, 3],), ([None, 10, -1],)], ['data'])
        >>> df.select(array_min(df.data).alias('min')).collect()
        [Row(min=1), Row(min=-1)]

    array_position(col: 'ColumnOrName', value: Any) -> pyspark.sql.column.Column
        Collection function: Locates the position of the first occurrence of the given value
        in the given array. Returns null if either of the arguments are null.

        .. versionadded:: 2.4.0

        Notes
        -----
        The position is not zero based, but 1 based index. Returns 0 if the given
        value could not be found in the array.

        Examples
        --------
        >>> df = spark.createDataFrame([(["c", "b", "a"],), ([],)], ['data'])
        >>> df.select(array_position(df.data, "a")).collect()
        [Row(array_position(data, a)=3), Row(array_position(data, a)=0)]

    array_remove(col: 'ColumnOrName', element: Any) -> pyspark.sql.column.Column
        Collection function: Remove all elements that equal to element from the given array.

        .. versionadded:: 2.4.0

        Parameters
        ----------
        col : :class:`~pyspark.sql.Column` or str
            name of column containing array
        element :
            element to be removed from the array

        Examples
        --------
        >>> df = spark.createDataFrame([([1, 2, 3, 1, 1],), ([],)], ['data'])
        >>> df.select(array_remove(df.data, 1)).collect()
        [Row(array_remove(data, 1)=[2, 3]), Row(array_remove(data, 1)=[])]

    array_repeat(col: 'ColumnOrName', count: Union[ForwardRef('ColumnOrName'), int]) -> pyspark.sql.column.Column
        Collection function: creates an array containing a column repeated count times.

        .. versionadded:: 2.4.0

        Parameters
        ----------
        col : :class:`~pyspark.sql.Column` or str
            column name or column that contains the element to be repeated
        count : :class:`~pyspark.sql.Column` or str or int
            column name, column, or int containing the number of times to repeat the first argument

        Examples
        --------
        >>> df = spark.createDataFrame([('ab',)], ['data'])
        >>> df.select(array_repeat(df.data, 3).alias('r')).collect()
        [Row(r=['ab', 'ab', 'ab'])]

    array_sort(col: 'ColumnOrName') -> pyspark.sql.column.Column
        Collection function: sorts the input array in ascending order. The elements of the input array
        must be orderable. Null elements will be placed at the end of the returned array.

        .. versionadded:: 2.4.0

        Parameters
        ----------
        col : :class:`~pyspark.sql.Column` or str
            name of column or expression

        Examples
        --------
        >>> df = spark.createDataFrame([([2, 1, None, 3],),([1],),([],)], ['data'])
        >>> df.select(array_sort(df.data).alias('r')).collect()
        [Row(r=[1, 2, 3, None]), Row(r=[1]), Row(r=[])]

    array_union(col1: 'ColumnOrName', col2: 'ColumnOrName') -> pyspark.sql.column.Column
        Collection function: returns an array of the elements in the union of col1 and col2,
        without duplicates.

        .. versionadded:: 2.4.0

        Parameters
        ----------
        col1 : :class:`~pyspark.sql.Column` or str
            name of column containing array
        col2 : :class:`~pyspark.sql.Column` or str
            name of column containing array

        Examples
        --------
        >>> from pyspark.sql import Row
        >>> df = spark.createDataFrame([Row(c1=["b", "a", "c"], c2=["c", "d", "a", "f"])])
        >>> df.select(array_union(df.c1, df.c2)).collect()
        [Row(array_union(c1, c2)=['b', 'a', 'c', 'd', 'f'])]

    arrays_overlap(a1: 'ColumnOrName', a2: 'ColumnOrName') -> pyspark.sql.column.Column
        Collection function: returns true if the arrays contain any common non-null element; if not,
        returns null if both the arrays are non-empty and any of them contains a null element; returns
        false otherwise.

        .. versionadded:: 2.4.0

        Examples
        --------
        >>> df = spark.createDataFrame([(["a", "b"], ["b", "c"]), (["a"], ["b", "c"])], ['x', 'y'])
        >>> df.select(arrays_overlap(df.x, df.y).alias("overlap")).collect()
        [Row(overlap=True), Row(overlap=False)]

    arrays_zip(*cols: 'ColumnOrName') -> pyspark.sql.column.Column
        Collection function: Returns a merged array of structs in which the N-th struct contains all
        N-th values of input arrays.

        .. versionadded:: 2.4.0

        Parameters
        ----------
        cols : :class:`~pyspark.sql.Column` or str
            columns of arrays to be merged.

        Examples
        --------
        >>> from pyspark.sql.functions import arrays_zip
        >>> df = spark.createDataFrame([(([1, 2, 3], [2, 3, 4]))], ['vals1', 'vals2'])
        >>> df.select(arrays_zip(df.vals1, df.vals2).alias('zipped')).collect()
        [Row(zipped=[Row(vals1=1, vals2=2), Row(vals1=2, vals2=3), Row(vals1=3, vals2=4)])]

    asc(col: 'ColumnOrName') -> pyspark.sql.column.Column
        Returns a sort expression based on the ascending order of the given column name.

        .. versionadded:: 1.3

    asc_nulls_first(col: 'ColumnOrName') -> pyspark.sql.column.Column
        Returns a sort expression based on the ascending order of the given
        column name, and null values return before non-null values.

        .. versionadded:: 2.4

    asc_nulls_last(col: 'ColumnOrName') -> pyspark.sql.column.Column
        Returns a sort expression based on the ascending order of the given
        column name, and null values appear after non-null values.

        .. versionadded:: 2.4

    ascii(col: 'ColumnOrName') -> pyspark.sql.column.Column
        Computes the numeric value of the first character of the string column.

        .. versionadded:: 1.5

    asin(col: 'ColumnOrName') -> pyspark.sql.column.Column
        Computes inverse sine of the input column.

        .. versionadded:: 1.3.0


        Returns
        -------
        :class:`~pyspark.sql.Column`
            inverse sine of `col`, as if computed by `java.lang.Math.asin()`

    asinh(col: 'ColumnOrName') -> pyspark.sql.column.Column
        Computes inverse hyperbolic sine of the input column.

        .. versionadded:: 3.1.0

        Returns
        -------
        :class:`~pyspark.sql.Column`

    assert_true(col: 'ColumnOrName', errMsg: Union[pyspark.sql.column.Column, str, NoneType] = None) -> pyspark.sql.column.Column
        Returns null if the input column is true; throws an exception with the provided error message
        otherwise.

        .. versionadded:: 3.1.0

        Parameters
        ----------
        col : :class:`~pyspark.sql.Column` or str
            column name or column that represents the input column to test
        errMsg : :class:`~pyspark.sql.Column` or str
            A Python string literal or column containing the error message

        Examples
        --------
        >>> df = spark.createDataFrame([(0,1)], ['a', 'b'])
        >>> df.select(assert_true(df.a < df.b).alias('r')).collect()
        [Row(r=None)]
        >>> df = spark.createDataFrame([(0,1)], ['a', 'b'])
        >>> df.select(assert_true(df.a < df.b, df.a).alias('r')).collect()
        [Row(r=None)]
        >>> df = spark.createDataFrame([(0,1)], ['a', 'b'])
        >>> df.select(assert_true(df.a < df.b, 'error').alias('r')).collect()
        [Row(r=None)]

    atan(col: 'ColumnOrName') -> pyspark.sql.column.Column
        Compute inverse tangent of the input column.

        .. versionadded:: 1.4.0

        Returns
        -------
        :class:`~pyspark.sql.Column`
            inverse tangent of `col`, as if computed by `java.lang.Math.atan()`

    atan2(col1: Union[ForwardRef('ColumnOrName'), float], col2: Union[ForwardRef('ColumnOrName'), float]) -> pyspark.sql.column.Column
        .. versionadded:: 1.4.0

        Parameters
        ----------
        col1 : str, :class:`~pyspark.sql.Column` or float
            coordinate on y-axis
        col2 : str, :class:`~pyspark.sql.Column` or float
            coordinate on x-axis

        Returns
        -------
        :class:`~pyspark.sql.Column`
            the `theta` component of the point
            (`r`, `theta`)
            in polar coordinates that corresponds to the point
            (`x`, `y`) in Cartesian coordinates,
            as if computed by `java.lang.Math.atan2()`

    atanh(col: 'ColumnOrName') -> pyspark.sql.column.Column
        Computes inverse hyperbolic tangent of the input column.

        .. versionadded:: 3.1.0

        Returns
        -------
        :class:`~pyspark.sql.Column`

    avg(col: 'ColumnOrName') -> pyspark.sql.column.Column
        Aggregate function: returns the average of the values in a group.

        .. versionadded:: 1.3

    base64(col: 'ColumnOrName') -> pyspark.sql.column.Column
        Computes the BASE64 encoding of a binary column and returns it as a string column.

        .. versionadded:: 1.5

    bin(col: 'ColumnOrName') -> pyspark.sql.column.Column
        Returns the string representation of the binary value of the given column.

        .. versionadded:: 1.5.0

        Examples
        --------
        >>> df.select(bin(df.age).alias('c')).collect()
        [Row(c='10'), Row(c='101')]

    bit_length(col: 'ColumnOrName') -> pyspark.sql.column.Column
        Calculates the bit length for the specified string column.

        .. versionadded:: 3.3.0

        Parameters
        ----------
        col : :class:`~pyspark.sql.Column` or str
            Source column or strings

        Returns
        -------
        :class:`~pyspark.sql.Column`
            Bit length of the col

        Examples
        --------
        >>> from pyspark.sql.functions import bit_length
        >>> spark.createDataFrame([('cat',), ( '',)], ['cat']) \
        ...      .select(bit_length('cat')).collect()
            [Row(bit_length(cat)=24), Row(bit_length(cat)=32)]

    bitwiseNOT(col: 'ColumnOrName') -> pyspark.sql.column.Column
        Computes bitwise not.

        .. deprecated:: 3.2.0
            Use :func:`bitwise_not` instead.

        .. versionadded:: 1.4


In [46]:
help(date_format)

Help on function date_format in module pyspark.sql.functions:

date_format(date: 'ColumnOrName', format: str) -> pyspark.sql.column.Column
    Converts a date/timestamp/string to a value of string in the format specified by the date
    format given by the second argument.

    A pattern could be for instance `dd.MM.yyyy` and could return a string like '18.03.1993'. All
    pattern letters of `datetime pattern`_. can be used.

    .. _datetime pattern: https://spark.apache.org/docs/latest/sql-ref-datetime-pattern.html

    .. versionadded:: 1.5.0

    Notes
    -----
    Whenever possible, use specialized functions like `year`.

    Examples
    --------
    >>> df = spark.createDataFrame([('2015-04-08',)], ['dt'])
    >>> df.select(date_format('dt', 'MM/dd/yyy').alias('date')).collect()
    [Row(date='04/08/2015')]

In [50]:
orderDF.select(date_format('order_date','yyyyMM').alias("order_month")).show(2)

+-----------+
|order_month|
+-----------+
|     201307|
|     201307|
+-----------+
only showing top 2 rows

In [54]:
help(orderDF.withColumn)

Help on method withColumn in module pyspark.sql.dataframe:

withColumn(colName: str, col: pyspark.sql.column.Column) -> 'DataFrame' method of pyspark.sql.dataframe.DataFrame instance
    Returns a new :class:`DataFrame` by adding a column or replacing the
    existing column that has the same name.

    The column expression must be an expression over this :class:`DataFrame`; attempting to add
    a column from some other :class:`DataFrame` will raise an error.

    .. versionadded:: 1.3.0

    Parameters
    ----------
    colName : str
        string, name of the new column.
    col : :class:`Column`
        a :class:`Column` expression for the new column.

    Notes
    -----
    This method introduces a projection internally. Therefore, calling it multiple
    times, for instance, via loops in order to add multiple columns can generate big
    plans which can cause performance issues and even `StackOverflowException`.
    To avoid this, use :func:`select` with the multiple columns at once.

    Examples
    --------
    >>> df.withColumn('age2', df.age + 2).collect()
    [Row(age=2, name='Alice', age2=4), Row(age=5, name='Bob', age2=7)]

In [65]:
help(orderDF.alias)

Help on method alias in module pyspark.sql.dataframe:

alias(alias: str) -> 'DataFrame' method of pyspark.sql.dataframe.DataFrame instance
    Returns a new :class:`DataFrame` with an alias set.

    .. versionadded:: 1.3.0

    Parameters
    ----------
    alias : str
        an alias name to be set for the :class:`DataFrame`.

    Examples
    --------
    >>> from pyspark.sql.functions import *
    >>> df_as1 = df.alias("df_as1")
    >>> df_as2 = df.alias("df_as2")
    >>> joined_df = df_as1.join(df_as2, col("df_as1.name") == col("df_as2.name"), 'inner')
    >>> joined_df.select("df_as1.name", "df_as2.name", "df_as2.age")                 .sort(desc("df_as1.name")).collect()
    [Row(name='Bob', name='Bob', age=5), Row(name='Alice', name='Alice', age=2)]

In [67]:
o = orderDF.alias('o')
oi = orderItemDF.alias('oi')

In [69]:
joinedOrders=o.where("order_status IN ('COMPLETE','CLOSED')").join(oi,o.order_id == oi.order_item_order_id)

In [71]:
joinedOrders.select('order_id','order_date','order_customer_id','order_item_id','product_id').show(2)

+--------+-------------------+-----------------+-------------+----------+
|order_id|         order_date|order_customer_id|order_item_id|product_id|
+--------+-------------------+-----------------+-------------+----------+
|       1|2013-07-25 00:00:00|            11599|            1|       957|
|       1|2013-07-25 00:00:00|            11599|            1|       957|
+--------+-------------------+-----------------+-------------+----------+
only showing top 2 rows

In [75]:
o.where("order_status IN ('COMPLETE','CLOSED')"). \
    join(oi,o.order_id == oi.order_item_order_id, 'left'). \
    where(orderItemDF.order_item_order_id.isNull()). \
    select('order_id','product_id','product_cost','order_subtotal','order_date').show(2)

+--------+----------+------------+--------------+-------------------+
|order_id|product_id|product_cost|order_subtotal|         order_date|
+--------+----------+------------+--------------+-------------------+
|       3|      null|        null|          null|2013-07-25 00:00:00|
|       6|      null|        null|          null|2013-07-25 00:00:00|
+--------+----------+------------+--------------+-------------------+
only showing top 2 rows

In [78]:
leftJoin = o.where("order_status IN ('COMPLETE','CLOSED')"). \
    join(oi,o.order_id == oi.order_item_order_id, 'left'). \
    where(orderItemDF.order_item_order_id.isNotNull()). \
    select('order_id','product_id','product_cost','order_subtotal','order_date')

In [81]:
o.where("order_status IN ('COMPLETE','CLOSED')"). \
    join(oi,o.order_id == oi.order_item_order_id, 'left'). \
    where(orderItemDF.order_item_order_id.isNull()). \
    select('order_id','product_id','product_cost','order_subtotal','order_date'). \
    where('order_id == 3').show()

+--------+----------+------------+--------------+-------------------+
|order_id|product_id|product_cost|order_subtotal|         order_date|
+--------+----------+------------+--------------+-------------------+
|       3|      null|        null|          null|2013-07-25 00:00:00|
|       3|      null|        null|          null|2013-07-25 00:00:00|
+--------+----------+------------+--------------+-------------------+

In [84]:
o.where('order_id = 6').show()

+--------+-------------------+-----------------+------------+
|order_id|         order_date|order_customer_id|order_status|
+--------+-------------------+-----------------+------------+
|       6|2013-07-25 00:00:00|             7130|    COMPLETE|
|       6|2013-07-25 00:00:00|             7130|    COMPLETE|
+--------+-------------------+-----------------+------------+

In [82]:
o.where("order_status IN ('COMPLETE','CLOSED')"). \
    join(oi,o.order_id == oi.order_item_order_id, 'left'). \
    where(orderItemDF.order_item_order_id.isNull()). \
    select('order_id','product_id','product_cost','order_subtotal','order_date'). \
    where('order_id == 6').show()

+--------+----------+------------+--------------+-------------------+
|order_id|product_id|product_cost|order_subtotal|         order_date|
+--------+----------+------------+--------------+-------------------+
|       6|      null|        null|          null|2013-07-25 00:00:00|
|       6|      null|        null|          null|2013-07-25 00:00:00|
+--------+----------+------------+--------------+-------------------+

In [89]:
leftJoin.groupBy('product_id').agg(round(sum('order_subtotal'),1).alias('product_revn')).show(2)

+----------+------------+
|product_id|product_revn|
+----------+------------+
|       897|      3473.6|
|       804|      2658.7|
+----------+------------+
only showing top 2 rows

In [106]:
orderReven = leftJoin.groupBy('order_id','product_id').agg(round(sum('order_subtotal'),1).alias('product_revn'))

In [107]:
orderReven.show(2)

+--------+----------+------------+
|order_id|product_id|product_revn|
+--------+----------+------------+
|     236|       365|        60.0|
|     256|       365|       120.0|
+--------+----------+------------+
only showing top 2 rows

In [93]:
productRevn = leftJoin.groupBy('product_id','order_date').agg(round(sum('order_subtotal'),1).alias('product_revn'))

In [99]:
productRevn.orderBy(col('product_revn').desc()).show()

+----------+-------------------+------------+
|product_id|         order_date|product_revn|
+----------+-------------------+------------+
|      1004|2014-03-04 00:00:00|     16399.2|
|      1004|2013-12-06 00:00:00|     15999.2|
|      1004|2014-04-08 00:00:00|     15999.2|
|      1004|2013-11-03 00:00:00|     15599.2|
|      1004|2013-11-30 00:00:00|     15599.2|
|      1004|2013-08-17 00:00:00|     15199.2|
|      1004|2014-01-30 00:00:00|     14799.3|
|      1004|2014-07-20 00:00:00|     14799.3|
|      1004|2013-12-11 00:00:00|     14799.3|
|      1004|2013-09-05 00:00:00|     14399.3|
|      1004|2014-05-12 00:00:00|     13999.3|
|      1004|2013-12-22 00:00:00|     13999.3|
|      1004|2014-02-06 00:00:00|     13999.3|
|      1004|2013-11-07 00:00:00|     13599.3|
|      1004|2014-04-02 00:00:00|     13599.3|
|      1004|2014-06-19 00:00:00|     13599.3|
|      1004|2014-01-11 00:00:00|     13599.3|
|      1004|2013-10-06 00:00:00|     13599.3|
|      1004|2014-05-16 00:00:00|     13599.3|
|      1004|2014-04-03 00:00:00|     13199.3|
+----------+-------------------+------------+
only showing top 20 rows

In [110]:
productRevn.orderBy(col('product_id').desc(),col('order_date').desc()).show()

+----------+-------------------+------------+
|product_id|         order_date|product_revn|
+----------+-------------------+------------+
|      1073|2014-07-24 00:00:00|      4199.8|
|      1073|2014-07-23 00:00:00|      2599.9|
|      1073|2014-07-22 00:00:00|      4399.8|
|      1073|2014-07-21 00:00:00|      7799.6|
|      1073|2014-07-20 00:00:00|      5799.7|
|      1073|2014-07-19 00:00:00|      4399.8|
|      1073|2014-07-18 00:00:00|      2999.8|
|      1073|2014-07-17 00:00:00|      2799.9|
|      1073|2014-07-16 00:00:00|      4399.8|
|      1073|2014-07-15 00:00:00|      6799.7|
|      1073|2014-07-14 00:00:00|      2999.8|
|      1073|2014-07-13 00:00:00|      3399.8|
|      1073|2014-07-12 00:00:00|      3599.8|
|      1073|2014-07-11 00:00:00|      2399.9|
|      1073|2014-07-10 00:00:00|      5599.7|
|      1073|2014-07-09 00:00:00|      3799.8|
|      1073|2014-07-08 00:00:00|      4799.8|
|      1073|2014-07-07 00:00:00|      2799.9|
|      1073|2014-07-06 00:00:00|      1000.0|
|      1073|2014-07-05 00:00:00|      4399.8|
+----------+-------------------+------------+
only showing top 20 rows

In [108]:
orderReven.orderBy(col('product_revn').desc(),col('order_id')).show()

+--------+----------+------------+
|order_id|product_id|product_revn|
+--------+----------+------------+
|   68703|       208|      2000.0|
|   68724|       208|      2000.0|
|   68736|       208|      2000.0|
|   68778|       208|      2000.0|
|   68806|       208|      2000.0|
|   68821|       208|      2000.0|
|   68837|       208|      2000.0|
|   68848|       208|      2000.0|
|   68858|       208|      2000.0|
|   68859|       208|      2000.0|
|   68883|       208|      2000.0|
|    9084|      1004|      1599.9|
|   11105|      1004|      1599.9|
|   14539|      1004|      1599.9|
|   30299|      1004|      1599.9|
|   44891|      1004|      1599.9|
|       5|       957|      1199.9|
|     730|      1004|      1199.9|
|    2760|      1004|      1199.9|
|    3531|       957|      1199.9|
+--------+----------+------------+
only showing top 20 rows

In [102]:
o.groupBy('order_status').agg(count('order_status').alias('stat_count')).show(2)

+---------------+----------+
|   order_status|stat_count|
+---------------+----------+
|PENDING_PAYMENT|     15033|
|       COMPLETE|     22903|
+---------------+----------+
only showing top 2 rows

In [103]:
o.groupBy('order_status').agg(count('order_status').alias('stat_count')). \
    orderBy(col('stat_count').desc()).show()

+---------------+----------+
|   order_status|stat_count|
+---------------+----------+
|       COMPLETE|     22903|
|PENDING_PAYMENT|     15033|
|     PROCESSING|      8276|
|        PENDING|      7610|
|         CLOSED|      7558|
|        ON_HOLD|      3798|
|SUSPECTED_FRAUD|      1558|
|       CANCELED|      1428|
| PAYMENT_REVIEW|       729|
+---------------+----------+

In [111]:
productRevn.write.csv('product_revenue.csv')