<a href="https://colab.research.google.com/github/srivatsan88/Mastering-Apache-Spark/blob/master/Spark_Transformations_and_Actions_Part_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q https://downloads.apache.org/spark/spark-3.0.0-preview2/spark-3.0.0-preview2-bin-hadoop2.7.tgz
!tar xf spark-3.0.0-preview2-bin-hadoop2.7.tgz
!pip install -q findspark

In [0]:
!ls /usr/lib/jvm/

In [0]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.0.0-preview2-bin-hadoop2.7"

In [0]:
import findspark
findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()

In [0]:
import sys,tempfile, urllib
from pyspark.sql.functions import *

In [0]:
BASE_DIR = '/tmp'
CORONA_DATA_FILE = os.path.join(BASE_DIR, 'corona_data.csv')

In [0]:
corona_data=urllib.request.urlretrieve('https://raw.githubusercontent.com/srivatsan88/YouTubeLI/master/dataset/coronavirus/corona_dataset_latest.csv', CORONA_DATA_FILE)

In [0]:
!ls /tmp

In [0]:
corona_df = spark.read.option("inferSchema", "true").csv("/tmp/corona_data.csv", header=True)

In [0]:
corona_df.show()

+---+----------------+--------------------+--------+---------+----------+---------+-----+---------+--------------------+----+
|_c0|           State|             Country|     Lat|     Long|      Date|Confirmed|Death|Recovered|       state_cleaned|City|
+---+----------------+--------------------+--------+---------+----------+---------+-----+---------+--------------------+----+
|  0|            null|            Thailand|    15.0|    101.0|2020-01-22|        2|    0|        0|             Bangkok|null|
|  1|            null|               Japan|    36.0|    138.0|2020-01-22|        2|    0|        0|             Hiraide|null|
|  2|            null|           Singapore|  1.2833| 103.8333|2020-01-22|        0|    0|        0|           Singapore|null|
|  3|            null|               Nepal| 28.1667|    84.25|2020-01-22|        0|    0|        0|           Kathmandu|null|
|  4|            null|            Malaysia|     2.5|    112.5|2020-01-22|        0|    0|        0|             Sarawak|null|
|  5|British Columbia|              Canada| 49.2827|-123.1207|2020-01-22|        0|    0|        0|    British Columbia|null|
|  6| New South Wales|           Australia|-33.8688| 151.2093|2020-01-22|        0|    0|        0|     New South Wales|null|
|  7|        Victoria|           Australia|-37.8136| 144.9631|2020-01-22|        0|    0|        0|            Victoria|null|
|  8|      Queensland|           Australia|-28.0167|    153.4|2020-01-22|        0|    0|        0|          Queensland|null|
|  9|            null|            Cambodia|   11.55| 104.9167|2020-01-22|        0|    0|        0|          Phnom Penh|null|
| 10|            null|           Sri Lanka|     7.0|     81.0|2020-01-22|        0|    0|        0|Sri Jayawardenapu...|null|
| 11|            null|             Germany|    51.0|      9.0|2020-01-22|        0|    0|        0|              Berlin|null|
| 12|            null|             Finland|    64.0|     26.0|2020-01-22|        0|    0|        0|            Helsinki|null|
| 13|            null|United Arab Emirates|    24.0|     54.0|2020-01-22|        0|    0|        0|           Abu Dhabi|null|
| 14|            null|         Philippines|    13.0|    122.0|2020-01-22|        0|    0|        0|              Manila|null|
| 15|            null|               India|    21.0|     78.0|2020-01-22|        0|    0|        0|           New Delhi|null|
| 16|            null|               Italy|    43.0|     12.0|2020-01-22|        0|    0|        0|                Rome|null|
| 17|            null|              Sweden|    63.0|     16.0|2020-01-22|        0|    0|        0|           Stockholm|null|
| 18|            null|               Spain|    40.0|     -4.0|2020-01-22|        0|    0|        0|              Toledo|null|
| 19| South Australia|           Australia|-34.9285| 138.6007|2020-01-22|        0|    0|        0|     South Australia|null|
+---+----------------+--------------------+--------+---------+----------+---------+-----+---------+--------------------+----+
only showing top 20 rows

In [0]:
corona_df.count()

28143

In [0]:
import pyspark.sql.functions as F
corona_max_df=corona_df.join(corona_df.groupBy("Country","State_cleaned").agg(F.max("Date").alias("Date")),on=['Country', 'State_cleaned','Date'],how="inner")

In [0]:
corona_max_df.show()

+--------------------+--------------------+----------+-----+----------------+--------+---------+---------+-----+---------+----+
|             Country|       state_cleaned|      Date|  _c0|           State|     Lat|     Long|Confirmed|Death|Recovered|City|
+--------------------+--------------------+----------+-----+----------------+--------+---------+---------+-----+---------+----+
|            Thailand|             Bangkok|2020-03-20|27666|            null|    15.0|    101.0|      322|    1|       42|null|
|               Japan|             Hiraide|2020-03-20|27667|            null|    36.0|    138.0|      963|   33|      191|null|
|           Singapore|           Singapore|2020-03-20|27668|            null|  1.2833| 103.8333|      385|    0|      124|null|
|               Nepal|           Kathmandu|2020-03-20|27669|            null| 28.1667|    84.25|        1|    0|        1|null|
|            Malaysia|             Sarawak|2020-03-20|27670|            null|     2.5|    112.5|     1030|    3|       87|null|
|              Canada|    British Columbia|2020-03-20|27671|British Columbia| 49.2827|-123.1207|      271|    8|        4|null|
|           Australia|     New South Wales|2020-03-20|27672| New South Wales|-33.8688| 151.2093|      353|    6|        4|null|
|           Australia|            Victoria|2020-03-20|27673|        Victoria|-37.8136| 144.9631|      121|    0|        8|null|
|           Australia|          Queensland|2020-03-20|27674|      Queensland|-28.0167|    153.4|      184|    0|        8|null|
|            Cambodia|          Phnom Penh|2020-03-20|27675|            null|   11.55| 104.9167|       51|    0|        1|null|
|           Sri Lanka|Sri Jayawardenapu...|2020-03-20|27676|            null|     7.0|     81.0|       73|    0|        3|null|
|             Germany|              Berlin|2020-03-20|27677|            null|    51.0|      9.0|    19848|   67|      180|null|
|             Finland|            Helsinki|2020-03-20|27678|            null|    64.0|     26.0|      450|    0|       10|null|
|United Arab Emirates|           Abu Dhabi|2020-03-20|27679|            null|    24.0|     54.0|      140|    2|       31|null|
|         Philippines|              Manila|2020-03-20|27680|            null|    13.0|    122.0|      230|   18|        8|null|
|               India|           New Delhi|2020-03-20|27681|            null|    21.0|     78.0|      244|    5|       20|null|
|               Italy|                Rome|2020-03-20|27682|            null|    43.0|     12.0|    47021| 4032|     4440|null|
|              Sweden|           Stockholm|2020-03-20|27683|            null|    63.0|     16.0|     1639|   16|       16|null|
|               Spain|              Toledo|2020-03-20|27684|            null|    40.0|     -4.0|    20410| 1043|     1588|null|
|           Australia|     South Australia|2020-03-20|27685| South Australia|-34.9285| 138.6007|       50|    0|        3|null|
+--------------------+--------------------+----------+-----+----------------+--------+---------+---------+-----+---------+----+
only showing top 20 rows

In [0]:
corona_max_df.select("Country","State_cleaned","Confirmed","Recovered").filter(col("Country").isin('Australia','China')).groupBy('Country').sum().show(100)

+---------+--------------+--------------+
|  Country|sum(Confirmed)|sum(Recovered)|
+---------+--------------+--------------+
|Australia|           791|            26|
|    China|         81250|         71266|
+---------+--------------+--------------+

In [0]:
corona_max_df.select("Country","State_cleaned","Confirmed","Recovered").filter(col("Country").isin('Australia','China')).cube("Country").sum().sort(asc("Country")).show(100)

+---------+--------------+--------------+
|  Country|sum(Confirmed)|sum(Recovered)|
+---------+--------------+--------------+
|     null|         82041|         71292|
|Australia|           791|            26|
|    China|         81250|         71266|
+---------+--------------+--------------+

In [0]:
corona_max_df.select("Country","State_cleaned","Confirmed","Recovered").filter(col("Country").isin('Australia','Canada')).cube("Country","State_cleaned").sum().sort(asc("Country")).show(100)

+---------+--------------------+--------------+--------------+
|  Country|       State_cleaned|sum(Confirmed)|sum(Recovered)|
+---------+--------------------+--------------+--------------+
|     null|          Queensland|           184|             8|
|     null|            Manitoba|            17|             0|
|     null|  Northern Territory|             3|             0|
|     null|      Grand Princess|            10|             0|
|     null|   Western Australia|            64|             0|
|     null|        Saskatchewan|            20|             0|
|     null|            Tasmania|            10|             3|
|     null|From Diamond Prin...|             0|             0|
|     null|    British Columbia|           271|             4|
|     null|         Nova Scotia|            15|             0|
|     null|Newfoundland and ...|             4|             0|
|     null|             Ontario|           308|             5|
|     null|Australian Capita...|             6|             0|
|     null|             Alberta|           146|             0|
|     null|     New South Wales|           353|             4|
|     null|     South Australia|            50|             3|
|     null|       New Brunswick|            11|             0|
|     null|            Victoria|           121|             8|
|     null|                null|          1734|            35|
|     null|              Quebec|           139|             0|
|     null|Prince Edward Island|             2|             0|
|Australia|     New South Wales|           353|             4|
|Australia|Australian Capita...|             6|             0|
|Australia|   Western Australia|            64|             0|
|Australia|            Tasmania|            10|             3|
|Australia|            Victoria|           121|             8|
|Australia|  Northern Territory|             3|             0|
|Australia|          Queensland|           184|             8|
|Australia|                null|           791|            26|
|Australia|From Diamond Prin...|             0|             0|
|Australia|     South Australia|            50|             3|
|   Canada|        Saskatchewan|            20|             0|
|   Canada|Newfoundland and ...|             4|             0|
|   Canada|       New Brunswick|            11|             0|
|   Canada|             Ontario|           308|             5|
|   Canada|              Quebec|           139|             0|
|   Canada|Prince Edward Island|             2|             0|
|   Canada|             Alberta|           146|             0|
|   Canada|         Nova Scotia|            15|             0|
|   Canada|            Manitoba|            17|             0|
|   Canada|      Grand Princess|            10|             0|
|   Canada|                null|           943|             9|
|   Canada|    British Columbia|           271|             4|
+---------+--------------------+--------------+--------------+

In [0]:
corona_max_df.select("Country","State_cleaned","Confirmed","Recovered").filter(col("Country").isin('Australia','Canada')).rollup("Country","State_cleaned").sum().sort(asc("Country")).show(100)

+---------+--------------------+--------------+--------------+
|  Country|       State_cleaned|sum(Confirmed)|sum(Recovered)|
+---------+--------------------+--------------+--------------+
|     null|                null|          1734|            35|
|Australia|  Northern Territory|             3|             0|
|Australia|            Tasmania|            10|             3|
|Australia|     New South Wales|           353|             4|
|Australia|Australian Capita...|             6|             0|
|Australia|   Western Australia|            64|             0|
|Australia|            Victoria|           121|             8|
|Australia|                null|           791|            26|
|Australia|From Diamond Prin...|             0|             0|
|Australia|     South Australia|            50|             3|
|Australia|          Queensland|           184|             8|
|   Canada|       New Brunswick|            11|             0|
|   Canada|        Saskatchewan|            20|             0|
|   Canada|      Grand Princess|            10|             0|
|   Canada|             Alberta|           146|             0|
|   Canada|         Nova Scotia|            15|             0|
|   Canada|Newfoundland and ...|             4|             0|
|   Canada|             Ontario|           308|             5|
|   Canada|              Quebec|           139|             0|
|   Canada|                null|           943|             9|
|   Canada|    British Columbia|           271|             4|
|   Canada|Prince Edward Island|             2|             0|
|   Canada|            Manitoba|            17|             0|
+---------+--------------------+--------------+--------------+

In [0]:
corona_max_df.corr('Confirmed','Recovered')

0.8052934236742176

In [0]:
corona_max_df.cache()

DataFrame[Country: string, state_cleaned: string, Date: string, _c0: int, State: string, Lat: double, Long: double, Confirmed: int, Death: int, Recovered: int, City: string]

In [0]:
%timeit corona_max_df.count()

The slowest run took 14.90 times longer than the fastest. This could mean that an intermediate result is being cached.
1 loop, best of 3: 66.5 ms per loop

In [0]:
from pyspark import StorageLevel
corona_max_df.persist(StorageLevel.MEMORY_AND_DISK)

DataFrame[Country: string, state_cleaned: string, Date: string, _c0: int, State: string, Lat: double, Long: double, Confirmed: int, Death: int, Recovered: int, City: string]

In [0]:
%timeit corona_max_df.count()

10 loops, best of 3: 63.1 ms per loop

In [0]:
pd=corona_df.toPandas()

In [0]:
pd.corr()

                _c0       Lat      Long  Confirmed     Death  Recovered
_c0        1.000000 -0.001594 -0.005303   0.046789  0.043155   0.042857
Lat       -0.001594  1.000000 -0.383389   0.008531  0.007041   0.000778
Long      -0.005303 -0.383389  1.000000   0.098893  0.074918   0.079047
Confirmed  0.046789  0.008531  0.098893   1.000000  0.963376   0.853924
Death      0.043155  0.007041  0.074918   0.963376  1.000000   0.857292
Recovered  0.042857  0.000778  0.079047   0.853924  0.857292   1.000000

In [0]:
corona_max_df.createOrReplaceTempView("corona")

In [0]:
spark.sql("select * from corona").show()

+--------------------+--------------------+----------+-----+----------------+--------+---------+---------+-----+---------+----+
|             Country|       state_cleaned|      Date|  _c0|           State|     Lat|     Long|Confirmed|Death|Recovered|City|
+--------------------+--------------------+----------+-----+----------------+--------+---------+---------+-----+---------+----+
|            Thailand|             Bangkok|2020-03-20|27666|            null|    15.0|    101.0|      322|    1|       42|null|
|               Japan|             Hiraide|2020-03-20|27667|            null|    36.0|    138.0|      963|   33|      191|null|
|           Singapore|           Singapore|2020-03-20|27668|            null|  1.2833| 103.8333|      385|    0|      124|null|
|               Nepal|           Kathmandu|2020-03-20|27669|            null| 28.1667|    84.25|        1|    0|        1|null|
|            Malaysia|             Sarawak|2020-03-20|27670|            null|     2.5|    112.5|     1030|    3|       87|null|
|              Canada|    British Columbia|2020-03-20|27671|British Columbia| 49.2827|-123.1207|      271|    8|        4|null|
|           Australia|     New South Wales|2020-03-20|27672| New South Wales|-33.8688| 151.2093|      353|    6|        4|null|
|           Australia|            Victoria|2020-03-20|27673|        Victoria|-37.8136| 144.9631|      121|    0|        8|null|
|           Australia|          Queensland|2020-03-20|27674|      Queensland|-28.0167|    153.4|      184|    0|        8|null|
|            Cambodia|          Phnom Penh|2020-03-20|27675|            null|   11.55| 104.9167|       51|    0|        1|null|
|           Sri Lanka|Sri Jayawardenapu...|2020-03-20|27676|            null|     7.0|     81.0|       73|    0|        3|null|
|             Germany|              Berlin|2020-03-20|27677|            null|    51.0|      9.0|    19848|   67|      180|null|
|             Finland|            Helsinki|2020-03-20|27678|            null|    64.0|     26.0|      450|    0|       10|null|
|United Arab Emirates|           Abu Dhabi|2020-03-20|27679|            null|    24.0|     54.0|      140|    2|       31|null|
|         Philippines|              Manila|2020-03-20|27680|            null|    13.0|    122.0|      230|   18|        8|null|
|               India|           New Delhi|2020-03-20|27681|            null|    21.0|     78.0|      244|    5|       20|null|
|               Italy|                Rome|2020-03-20|27682|            null|    43.0|     12.0|    47021| 4032|     4440|null|
|              Sweden|           Stockholm|2020-03-20|27683|            null|    63.0|     16.0|     1639|   16|       16|null|
|               Spain|              Toledo|2020-03-20|27684|            null|    40.0|     -4.0|    20410| 1043|     1588|null|
|           Australia|     South Australia|2020-03-20|27685| South Australia|-34.9285| 138.6007|       50|    0|        3|null|
+--------------------+--------------------+----------+-----+----------------+--------+---------+---------+-----+---------+----+
only showing top 20 rows

In [0]:
spark.sql("select * from corona where Country in ('Australia','Canada') order by Country").show()

+---------+--------------------+----------+-----+--------------------+------------------+---------+---------+-----+---------+----+
|  Country|       state_cleaned|      Date|  _c0|               State|               Lat|     Long|Confirmed|Death|Recovered|City|
+---------+--------------------+----------+-----+--------------------+------------------+---------+---------+-----+---------+----+
|Australia|     New South Wales|2020-03-20|27672|     New South Wales|          -33.8688| 151.2093|      353|    6|        4|null|
|Australia|            Victoria|2020-03-20|27673|            Victoria|          -37.8136| 144.9631|      121|    0|        8|null|
|Australia|   Western Australia|2020-03-20|27715|   Western Australia|          -31.9505| 115.8605|       64|    1|        0|null|
|Australia|          Queensland|2020-03-20|27674|          Queensland|          -28.0167|    153.4|      184|    0|        8|null|
|Australia|            Tasmania|2020-03-20|27727|            Tasmania|          -41.4545| 145.9707|       10|    0|        3|null|
|Australia|  Northern Territory|2020-03-20|27737|  Northern Territory|          -12.4634| 130.8456|        3|    0|        0|null|
|Australia|     South Australia|2020-03-20|27685|     South Australia|          -34.9285| 138.6007|       50|    0|        3|null|
|Australia|Australian Capita...|2020-03-20|28068|Australian Capita...|          -35.4735| 149.0124|        6|    0|        0|null|
|Australia|From Diamond Prin...|2020-03-20|27688|From Diamond Prin...|           35.4437|  139.638|        0|    0|        0|null|
|   Canada|    British Columbia|2020-03-20|27671|    British Columbia|           49.2827|-123.1207|      271|    8|        4|null|
|   Canada|             Ontario|2020-03-20|27758|             Ontario|           51.2538| -85.3232|      308|    2|        5|null|
|   Canada|             Alberta|2020-03-20|27759|             Alberta|           53.9333|-116.5765|      146|    1|        0|null|
|   Canada|        Saskatchewan|2020-03-20|28073|        Saskatchewan|           52.9399|-106.4509|       20|    0|        0|null|
|   Canada|         Nova Scotia|2020-03-20|28107|         Nova Scotia|44.681999999999995| -63.7443|       15|    0|        0|null|
|   Canada|              Quebec|2020-03-20|27760|              Quebec|           52.9399| -73.5491|      139|    1|        0|null|
|   Canada|       New Brunswick|2020-03-20|27867|       New Brunswick|           46.5653| -66.4619|       11|    0|        0|null|
|   Canada|      Grand Princess|2020-03-20|28077|      Grand Princess|           37.6489|-122.6655|       10|    0|        0|null|
|   Canada|Newfoundland and ...|2020-03-20|28099|Newfoundland and ...|           53.1355| -57.6604|        4|    0|        0|null|
|   Canada|            Manitoba|2020-03-20|28072|            Manitoba|           53.7609| -98.8139|       17|    0|        0|null|
|   Canada|Prince Edward Island|2020-03-20|28100|Prince Edward Island|           46.5107| -63.4168|        2|    0|        0|null|
+---------+--------------------+----------+-----+--------------------+------------------+---------+---------+-----+---------+----+

In [0]:
spark.sql("select * from corona where Country in ('Australia','Canada') order by Country").show()

+---------+--------------------+----------+-----+--------------------+------------------+---------+---------+-----+---------+----+
|  Country|       state_cleaned|      Date|  _c0|               State|               Lat|     Long|Confirmed|Death|Recovered|City|
+---------+--------------------+----------+-----+--------------------+------------------+---------+---------+-----+---------+----+
|Australia|     New South Wales|2020-03-20|27672|     New South Wales|          -33.8688| 151.2093|      353|    6|        4|null|
|Australia|            Victoria|2020-03-20|27673|            Victoria|          -37.8136| 144.9631|      121|    0|        8|null|
|Australia|   Western Australia|2020-03-20|27715|   Western Australia|          -31.9505| 115.8605|       64|    1|        0|null|
|Australia|          Queensland|2020-03-20|27674|          Queensland|          -28.0167|    153.4|      184|    0|        8|null|
|Australia|            Tasmania|2020-03-20|27727|            Tasmania|          -41.4545| 145.9707|       10|    0|        3|null|
|Australia|  Northern Territory|2020-03-20|27737|  Northern Territory|          -12.4634| 130.8456|        3|    0|        0|null|
|Australia|     South Australia|2020-03-20|27685|     South Australia|          -34.9285| 138.6007|       50|    0|        3|null|
|Australia|Australian Capita...|2020-03-20|28068|Australian Capita...|          -35.4735| 149.0124|        6|    0|        0|null|
|Australia|From Diamond Prin...|2020-03-20|27688|From Diamond Prin...|           35.4437|  139.638|        0|    0|        0|null|
|   Canada|    British Columbia|2020-03-20|27671|    British Columbia|           49.2827|-123.1207|      271|    8|        4|null|
|   Canada|             Ontario|2020-03-20|27758|             Ontario|           51.2538| -85.3232|      308|    2|        5|null|
|   Canada|             Alberta|2020-03-20|27759|             Alberta|           53.9333|-116.5765|      146|    1|        0|null|
|   Canada|        Saskatchewan|2020-03-20|28073|        Saskatchewan|           52.9399|-106.4509|       20|    0|        0|null|
|   Canada|         Nova Scotia|2020-03-20|28107|         Nova Scotia|44.681999999999995| -63.7443|       15|    0|        0|null|
|   Canada|              Quebec|2020-03-20|27760|              Quebec|           52.9399| -73.5491|      139|    1|        0|null|
|   Canada|       New Brunswick|2020-03-20|27867|       New Brunswick|           46.5653| -66.4619|       11|    0|        0|null|
|   Canada|      Grand Princess|2020-03-20|28077|      Grand Princess|           37.6489|-122.6655|       10|    0|        0|null|
|   Canada|Newfoundland and ...|2020-03-20|28099|Newfoundland and ...|           53.1355| -57.6604|        4|    0|        0|null|
|   Canada|            Manitoba|2020-03-20|28072|            Manitoba|           53.7609| -98.8139|       17|    0|        0|null|
|   Canada|Prince Edward Island|2020-03-20|28100|Prince Edward Island|           46.5107| -63.4168|        2|    0|        0|null|
+---------+--------------------+----------+-----+--------------------+------------------+---------+---------+-----+---------+----+

In [0]:
spark.sql("select Country, State_cleaned, SUM(Confirmed), SUM(Recovered) from corona where Country in ('Australia','Canada') GROUP BY ROLLUP (Country, State_cleaned) order by Country").show()

+---------+--------------------+--------------+--------------+
|  Country|       State_cleaned|sum(Confirmed)|sum(Recovered)|
+---------+--------------------+--------------+--------------+
|     null|                null|          1734|            35|
|Australia|  Northern Territory|             3|             0|
|Australia|     New South Wales|           353|             4|
|Australia|          Queensland|           184|             8|
|Australia|   Western Australia|            64|             0|
|Australia|Australian Capita...|             6|             0|
|Australia|                null|           791|            26|
|Australia|            Tasmania|            10|             3|
|Australia|            Victoria|           121|             8|
|Australia|From Diamond Prin...|             0|             0|
|Australia|     South Australia|            50|             3|
|   Canada|        Saskatchewan|            20|             0|
|   Canada|       New Brunswick|            11|             0|
|   Canada|      Grand Princess|            10|             0|
|   Canada|             Alberta|           146|             0|
|   Canada|Newfoundland and ...|             4|             0|
|   Canada|    British Columbia|           271|             4|
|   Canada|Prince Edward Island|             2|             0|
|   Canada|              Quebec|           139|             0|
|   Canada|             Ontario|           308|             5|
+---------+--------------------+--------------+--------------+
only showing top 20 rows

In [0]:
spark.sql("select Country, State_cleaned, SUM(Confirmed), SUM(Recovered) from corona where Country in ('Australia','Canada') GROUP BY CUBE (Country, State_cleaned) order by Country").show()

+-------+--------------------+--------------+--------------+
|Country|       State_cleaned|sum(Confirmed)|sum(Recovered)|
+-------+--------------------+--------------+--------------+
|   null|            Victoria|           121|             8|
|   null|     South Australia|            50|             3|
|   null|       New Brunswick|            11|             0|
|   null|         Nova Scotia|            15|             0|
|   null|     New South Wales|           353|             4|
|   null|  Northern Territory|             3|             0|
|   null|Australian Capita...|             6|             0|
|   null|          Queensland|           184|             8|
|   null|        Saskatchewan|            20|             0|
|   null|Newfoundland and ...|             4|             0|
|   null|                null|          1734|            35|
|   null|            Tasmania|            10|             3|
|   null|    British Columbia|           271|             4|
|   null|             Ontario|           308|             5|
|   null|From Diamond Prin...|             0|             0|
|   null|            Manitoba|            17|             0|
|   null|Prince Edward Island|             2|             0|
|   null|      Grand Princess|            10|             0|
|   null|             Alberta|           146|             0|
|   null|   Western Australia|            64|             0|
+-------+--------------------+--------------+--------------+
only showing top 20 rows